.topo{
  position: relative;
  left: -8px;
  top: -8px;
  width: 104.4%;
  height: 60px;
  box-shadow: 1px 1px 5px 1px whitesmoke;
  background: white;
  overflow: hidden;

}

.titulo{
  position: relative;
  left: 30px;
  color: seagreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#url{
  position: relative;
  top: 130px;
  height: 30px;
  width: 300px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  border: none;
  background: whitesmoke;
}

.but{
  position: relative;
  top: 150px;
  height: 30px;
  width: 310px;
  outline: none;
  background: mediumseagreen;
  color: white;
  border: none;
}

footer{
  height: 300px;
  background: ghostwhite;
  top: 500px;
  position: relative;
  left: -8px;
  width: 104.4%;
  overflow: hidden;
  border-top: 2px solid mediumseagreen;
}

.end{
  position: relative;
  top: 20px;
  color: #404040;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dire{
  font-size: 13px;
  position: relative;
  color: #404040;
  text-align: inherit;
  width: 340px;
  left: 30px;
  top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loca{
  position: relative;
  top: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #404040;
  font-size: 13px;
}

body{
  
}